[2016-05-25 19:23] hexylena opened #1 "Build issues"
FYI, just documenting in case these aren't the same build issues you see...

[code]

and

[code]

[2016-05-25 19:25] nathandunn commented on #1
The second one should be fixed (as it does cause problems), but I'll double-check.   I'm going to refactor to fix the first one.  While its not technically wrong, it is not correct either.

[2016-05-25 19:49] #1 closed, assigned to nobody

[2016-07-21 03:13] mictadlo opened #5 "missing data folder"
Hello, I cloned the `docker-apollo` project, but I can not do `Copy JBrowse folders into ./data`, because I do not know which `JBrowse folder` and `./data` is meant in QuickStart.

[code]

Thank you in advance.

Mic

[2016-07-21 04:28] hexylena commented on #5
Hi @mictadlo

If you wish to mount JBrowse instances within the docker image, there is no specific directory which you must use. You can mount any directory you like (e.g. `docker run -itP -v /my/data:/container/data gmod/apollo:latest`), and then in the Apollo interface you will specify the path to the JBrowse instances such as `/container/data/instance`

[2016-07-21 11:56] mictadlo opened #6 "pool.ConnectionPool errors"
Hi, I did `sudo docker run -itP -v data:/container/data gmod/apollo:latest` under ubuntu 16.04 and Docker version 1.11.2 , but received the following errors:

[code]

What did I do wrong?

Thank you in advance.

Mic

[2016-07-21 12:28] mictadlo commented on #5
Does this docker container come with JBrowse or do I have to install it?

[2016-07-21 12:41] hexylena commented on #5
The inputs to apollo is the data directory formatted for JBrowse. JBrowse is included as part of apollo, you just need to provide the "data" directory in your mounted volume

[2016-07-21 12:42] hexylena commented on #6
As you can see, it fails to connect to a postgres database. We recommend using the `docker-compose.yml` file provided as part of this repository.

This will take care of the database for you, and allow you to make use of the new Chado export functionality in apollo if you are a Chado user.
https://github.com/GMOD/docker-apollo/blob/master/docker-compose.yml

[2016-07-21 14:22] mictadlo commented on #6
Thank you I could start it, but after login I get only **Loading ...** massage.

[2016-07-21 14:27] hexylena commented on #6
At this point I'm afraid I need to turn it over to apollo people like @nathandunn, this will be out of my area.

[2016-07-21 14:39] mictadlo commented on #6
P.S. the data folder is still empty `~/dockers/docker-apollo $ ls data/`

[2016-07-21 15:03] hexylena commented on #6
@mictadlo did you place a jbrowse data directory within the folder you're sharing with the container?

[2016-07-21 16:41] nathandunn commented on #6
@mictadlo   Were you able to connect to the tomcat backend and see anything in the logs?

You should connect to the docker container running tomcat (catalina.sh) and look in /var/logs/tomcat/catalina.out (or something like that).

[2016-07-21 16:44] nathandunn commented on #6
I'm going to update the gmod/apollo:latest . . . it should be a bit more stable as well.   @mictadlo  You can also try using the latest release (2.0.2) and see if this works better:

https://github.com/GMOD/docker-apollo/archive/2.0.2.zip

[2016-07-21 18:14] nathandunn commented on #6
@mictadlo   I also update the gmod/apollo:latest to be more stable.  Maybe start there and if it still fails use 2.0.2.

Is this to be loaded up via ansible (we have a few scripts for that as well).

[2016-07-21 20:39] nathandunn commented on #6
@mictadlo  I just got it running, but like @erasche  said, you should use:

[code]

or

[code]

I issued some updates grabbing a newer version of apollo as well.  You may need to remove the gmod/apollo:latest image to force it to refresh.

[2016-07-21 20:43] nathandunn commented on #6
I was able to connect this way:  http://192.168.99.100:8080/apollo/annotator/index

To add data (I'm using a mac), I copied data into the docker-compose/data/ directory and then added them to the organism tab as  `/data/yeast/`

[2016-07-21 23:52] mictadlo commented on #6
Thank you, it works. You were right and I had to do `docker rmi $(docker images -q)` to force to update all docker images.

I created the data folder in `~/dockers/docker-apollo-2.0.2/data/` where did you get the yeast data from?

[2016-07-21 23:57] nathandunn commented on #6
If you download JBrowse:  http://jbrowse.org/jbrowse-1-12-1/ http://jbrowse.org/jbrowse-1-12-1/

it should come with some sample data, also including volvox.  When I install Apollo de-novo, it should install data in the jbrowse-download/sample_data directory

[2016-07-22 00:00] hexylena commented on #6
@mictadlo, seconding @nathandunn, when I use the apollo image, I often supply path like `/apollo/jbrowse-download/sample_data/json/yeast/`, so I do not even need to mount a volume, already data in container ready to go

[2016-07-26 02:14] mictadlo commented on #6
Loading `/apollo/jbrowse-download/sample_data/json/yeast/` I got this error:

[code]

What did I do wrong?

[2016-07-26 03:29] nathandunn commented on #6
A 500 error is usually on the server.

Can you find the tomcat logs?

In docker (if you are using a daemon), you should be able to do:

docker logs

or

docker-compose logs

(and retry the request).

If you are not running the daemon you should be able to see it directly in the console you used to start it.

Nathan

[2016-07-26 03:52] mictadlo commented on #6
Please find below the logs `/apollo/jbrowse-download/sample_data/json/volvox/`

[code]

I tried to use `/apollo/jbrowse-download/sample_data/json/yeast/`, but I get the same error.

[2016-07-26 03:53] nathandunn commented on #6
I'll take a look.  What version are you running?

Nathan

[2016-07-26 03:54] mictadlo commented on #6
2.0.2 https://github.com/GMOD/docker-apollo/archive/2.0.2.zip or do you have a newer version?

[2016-07-26 04:03] nathandunn commented on #6
You could try cloning master (which is newer), which is the 2.0.4 Release Candidate 2:

https://github.com/GMOD/docker-apollo/

I’ll create a “release” version, when we release 2.0.4.

I’m not sure if it will fix it, but I can definitely patch it on master pretty quickly if there is a problem.  Just provide that error log, and I’ll see if I can’t patch it.

Also, if you list the directory you poin

[2016-07-26 04:29] nathandunn commented on #6
I tested it against master and am getting this error now:

https://github.com/GMOD/Apollo/issues/1186 https://github.com/GMOD/Apollo/issues/1186

I’ll try to fix it tomorrow, and then we can hopefully resolve this as well when I update the docker build hash.

Nathan

[2016-07-26 17:10] nathandunn commented on #6
@mictadlo   What I would do:

Clone the newest version from here: https://github.com/GMOD/docker-apollo/

[code]

I have some problems mounting the data directory on the mac (if that is what you are using) where it hangs.

[2016-07-26 17:14] nathandunn commented on #6
@erasche   To that end, the volume mount we have is:

[code]

[here](https://github.com/GMOD/docker-apollo/blob/master/docker-compose.yml#L23).

Should this be:

[code]

[2016-07-26 17:15] nathandunn commented on #6
Answered my own question (no).

[2016-07-26 23:35] mictadlo commented on #6
Hi,
1. We tried it on Windows as host OS and Linux Mint 18 runs in VirtualBox.
2. We tried it on Mac as host OS and Linux Mint 18 runs in VirtualBox.

In both cases we followed your above instructions and still got the below error by loading `/apollo/jbrowse-download/sample_data/json/volvox/` on both OS platforms.

[code]

[2016-07-26 23:48] nathandunn commented on #6
What happens if you try yeast?

jbrowse-download/sample_data/json/yeast/

The format of plugins (at the bottom of trackList.json) should be of this form:

  "plugins": [
    {
      "location": "./plugins/WebApollo",
      "name": "WebApollo"
    }
  ],

Instead of:

"plugins”:[“WebApollo”]

I create another bug so that it works with both, but for now modifying the trackList.json for pluginEntries

[2016-07-27 02:49] mictadlo commented on #6
I tried `/apollo/jbrowse-download/sample_data/json/yeast`, but now I got these errors:

[code]

Using `/jbrowse-download/sample_data/json/yeast` I got the following error:

[code]

Where can I find `trackList.json` and how can I access it?

[2016-07-27 03:29] nathandunn commented on #6
It should be in that directory if you were using straight Apollo.

Steps I would try:
1 -copy  /jbrowse-download/sample_data/json/yeast

To docker-apollo/data.

2 - remove the plugins section of trackList.json

3 - docker-compose kill
docker-compose rm
docker-compose up

4 - add the directory /data/yeast to the organism tab

Let me know how that works.

We also had issues with older versions of do

[2016-07-27 10:53] mictadlo commented on #6
I did the following steps

[code]

Than I was following your 3 and 4 step.

JBrowse loads now in Apollo, how it show nothing except `User-created Annotations`.

Do I still miss anything?

[2016-07-27 14:47] nathandunn commented on #6
That is perfect.   If you go to the tracks tab you should see a couple of tracks that you can select.

<img width="1242" alt="screen shot 2016-07-27 at 7 46 48 am" src="https://cloud.githubusercontent.com/assets/751274/17179486/4e8dbb72-53ce-11e6-83e2-b095fe2958c9.png">

If for some reason it is not showing up, then click onto another tab and then back.  If it is still a problem then report any ja

[2016-07-27 14:58] nathandunn commented on #6
We also have a ton of documentation [here](http://genomearchitect.org/users-guide/) and [here](http://genomearchitect.readthedocs.io/en/stable/) thought it looks like you are pretty close.

[2016-08-02 09:33] mictadlo commented on #6
Hi all,
I try my real data and I getting only `Processing ...` with the following  `trackList.json` file:

[code]

Did I anything wrong?

[2016-08-02 16:05] nathandunn commented on #6
I'll be back in a week to look (on vacation now).  Short answer is that you need the tomcat logs to diagnose.  I would also confirm that the mounted directory is showing up internally on the docker side.

You can also just install Apollo from source.  @erasche has a  working version or two as well with Galaxy where data is mounted and brought in internally so you won't have the mounting of local d

[2016-08-02 23:36] mictadlo commented on #6
It has actually finished processing, and in Organisms tab it shows the number of Ref_sequences, but the Annotation number is 0.

This is the log from `gmod/apollo:latest`

[code]

and this is logs from `postgres`

[code]

P.S. enjoy your holidays
Mic

[2016-08-04 00:21] mictadlo commented on #6
It is almost working now after I added the CATALINA_OPTS to docker-compose.yml file.

[code]

When Apollo crashed and restart docker-apollo the organism is not available anymore. How it possible to keep the organism permanently.

Thank you in advance.

Mic

[2016-08-05 01:30] mictadlo opened #7 "database does not keep all files"
Hi @erasche and @nathandunn ,
I uploaded yeast example to Apollo by using `create organism`. Next, I deleted the yeast folder from data folder and I got the following error:

[code]

Is there a way to store all data inside the database in order to save space?

Thank you in advance,

Mic

[2016-08-05 02:09] mictadlo opened #8 "docker-compose down removes Organism"
Hi @erasche and @nathandunn,
How is it possible to avoid that `docker-compose down` deletes Organism?

Thank you in advance,

Mic

[2016-08-05 02:14] hexylena commented on #8
Hi @mictadlo it does not, in my experience (but I only run GNU/linux)

If you are using an explicit volume for the postgres database, then the data will be persisted in that directory.

If you are not using an explicit volume, then the volume should be persisted in the docker directory and used automatically.

I would guess that this is another OSX oddity.

[2016-08-05 05:21] mictadlo commented on #8
I am running OS X as host and Linux Mint is installed in VirtualBox. How would I need to change the `docker-compose.yml` to explicitly be able to use volume for postgres database in order persist the data?

[2016-08-05 15:10] hexylena commented on #8
https://github.com/GMOD/docker-apollo/blob/master/docker-compose.yml#L35 should be sufficient.

Are you running docker inside the Linux Mint guest VM?

[2016-08-06 04:19] mictadlo commented on #8
Yes, I am running docker inside Linux Mint 18 VM.
1.  What kind of difference would this make `/srv/docker/postgresql:/var/lib/postgresql` as describe [here](https://github.com/sameersbn/docker-postgresql/blob/master/docker-compose.yml)?
2. What happens if e.g postgres image get security updates.  How can I update the image without losing data stored in the database?

[2016-08-06 12:09] mictadlo commented on #8
...
I watched this [video](https://www.youtube.com/watch?v=rlK1JYsM6Aw) and the solution was `docker run --rm --volumes-from john1 -v $(pwd):/backup busybox tar cvf /backup/john2.tar /john`. Probably to backup the database it would be necessary to dump it somehow.

[2016-08-06 14:50] hexylena commented on #8
1. No difference, that is the same. Just mounts a different directory.
2. The postgres database is stored as files on disk. If the image gets (security, or other) updates that required changes to the on-disk format, postgres would handle that.

As for backing up the database, it is much simpler to do something like:

[code]

to dump the database. If you are even braver, you could just backup your

[2016-08-06 16:41] nathandunn commented on #7
So, the way it works we only store the scaffold data (reference sequences in `refSeqs.json`) for reference.   The track information is stored in the directory using regular JBrowse mechanisms and can be updated using trackList.json.  Some of the data can be loaded via [REST](http://gmod.org/wiki/JBrowse_Configuration_Guide#Writing_JBrowse-compatible_Web_Services), as well (and so not stored in the

[2016-08-06 16:41] #7 closed, assigned to nobody

[2016-08-09 18:01] nathandunn commented on #6
My guess is it wiped your image (not the database) as I'm not seeing your issue either.  Maybe you ran out of docker volume space?

What happens if you use the docker-compose.yml file provided and do: `docker-compose up` ?

You may want to update as well, as I just updated the latest tag as well, but I doubt it will make any difference.

[2016-08-09 18:02] nathandunn commented on #5
@mictadlo  I'm using the native docker for mac now (beta) and it all seems to be working when I use docker-compose.

[2016-08-09 19:38] nathandunn commented on #5
The version is:

[code]

[2016-08-17 23:12] mictadlo commented on #5
It is working.

[2016-08-17 23:12] #5 closed, assigned to nobody

[2016-08-17 23:59] mictadlo commented on #6
I think might I used accidentally `docker-compose rm`. Do you think this Memory setting are properly set:

[code]

?

[2016-08-18 02:36] nathandunn commented on #6
@mictadlo   Unless you have about 200 very active users I would change probably use less memory, e.g.  `-Xmx4096m -Xms1024m` but using what you have up there won't hurt anything either.

[2016-08-24 23:54] mictadlo commented on #6
Thank you.

[2016-08-24 23:54] #6 closed, assigned to nobody

[2016-08-25 23:05] mictadlo commented on #6
Hi all, apparently the double quotes has to be removed in `CATALINA_OPTS` (https://github.com/docker-library/tomcat/issues/8#issuecomment-242283842)

[2016-12-22 16:34] abretaud opened #12 "Overriding apollo-config.groovy?"
Hello,
Is there a proper way to change the content of apollo-config.groovy? I tried mounting my modified version like this:
[code]
or like this:
[code]

But first one fails probably because apollo would need to be rebuilt, and with second one the war fails to deploy.

I'm trying to do it to use the REMOTE_USER auth.

(no hurry on this, I'm leaving now)

[2016-12-22 18:25] hexylena commented on #12
For us, it has to be done at build time because we load extra JBrowse plugins in and WAR deployment is scary enough that I'll just follow the standard build instructions ;) Interesting that the deploy fails in second case.

E.g. https://github.com/erasche/docker-apollo/tree/cpt I maintain a separate branch with my organisation's customised copy of Apollo. We use extra plugins and various hacks.

[2016-12-22 19:06] nathandunn commented on #12
@abretaud  I think what Eric is advocating is probably the best, but I'm going to leave this open to think about it.  I wonder if docker should detect if there is a ```custom-apollo-config.groovy``` (which is not source-managed), which if it exists it copies into docker into apollo-config.groovy instead.

Let me know what you think.

[2017-01-04 10:54] abretaud commented on #12
Thanks for the link, some things look very interesting for me there :)
I may maintain a separate branch too in the end, but anyway, see #13 for a possible solution to this issue.
The deploy fails in the second case because when deploying the war at startup, it first checks if the ROOT dir already exists and tries to erase it before extracting the ROOT.war (and fails because of the mount point)
(an

[2017-01-10 16:34] hexylena commented on #12
This is easy! we just unpack the war ahead of time. Then no unpacking happens, and you can mount volumes over it. If you have time, test this (`jar xvf apollo.war`), if not I'll get around to it next month or so.

:-1: on this, would be unnecessary complication, we can solve this other ways. Too much magic for my taste ;)

[2017-01-10 16:42] abretaud commented on #12
Hum, I remember having this idea at some point, but I can't remember if it failed or if I just forgot to test it... I'll have a look

[2017-01-10 16:44] hexylena commented on #12
If it failed, it would be quite interesting. let me know how it goes!

[2017-01-10 19:37] hexylena opened #14 "Always re-expands WAR file, even when not needed."
[code]

[2017-01-13 13:07] abretaud commented on #12
Ok, unpacking the war works fine!
I'll update #13 soon

[2017-01-13 14:22] abretaud commented on #12
Done updating #13!
I also pushed my branch there in case you're interested: https://github.com/abretaud/docker-apollo/tree/bipaa

[2017-01-13 14:23] hexylena commented on #12
Awesome! Thanks for sharing. Will try and get some variation on this added
to other images.

Den fre. 13. jan. 2017, 14.22 skrev Anthony Bretaudeau <
notifications@github.com>:

[2017-06-28 13:33] fikipollo opened #17 "Using webapollo docker with postgresql docker"
Hi there!

First, thanks for this dockerized version of webapollo! It's really useful!

I've forked this repository in order to customize a little bit the code. I found that the current version of the docker uses an internal postgresql service which does not allow to easily store the databases in a volume for data persistence. Alternatively, I'm using a external postgres server running in a offici

[2017-06-28 13:53] nathandunn commented on #17
We've been hashing through this a bit lately, so a good time to provide input.

I'll try to put a PR together and I'll flag you for review.

Thanks.

[2017-06-28 13:55] hexylena commented on #17
Ah, I am sorry you did not ask first. I'm the original author of the apollo docker containers. I originally did not even build a `unified` image, I have only ever used an apollo-only image. The work you've talked about is mostly already done. @nathandunn is re-doing his versions of the images that GMOD maintains.

E.g. I have

- https://github.com/erasche/docker-apollo/tree/unified unified image (

[2017-06-28 13:59] nathandunn commented on #17
@erasche   Yeah, there is a lot of overlap between the two solutions, but I think that a lot of the DB handling is nicer then what we currently have.

[2017-06-28 14:06] fikipollo commented on #17
OK, I see... so which one is the most "official" version? I'm a little bit confused here :S
I was using @nathandunn solution as I understood that webapollo is part of the GMOD project.

@erasche your solution looks great! Actually your docker image was the first that I downloaded from  hub.docker.com but I saw that the docker build was failing from 6 months ago and I assumed that your image was no

[2017-06-28 14:10] hexylena commented on #17
@fikipollo I've moved my images to quay.io because docker hub is a massive pain. I'm sorry, I should have updated the README there and pointed to the newer/correct location. https://quay.io/repository/erasche/apollo I will do that shortly. The GMOD maintains their own images, and these are "official", however I do not often contribute my changes back to them. I do not believe they deploy apollo fr

[2017-06-28 14:18] fikipollo commented on #17
OK, cool! I will take a look to your images @erasche !

Thanks again to both!

[2017-06-28 15:11] nathandunn commented on #17
@erasche Yeah, I like the greater configuration as well.   Was going to merge all of the good things (correct defaults) and remove the bad ones (cruft and in-configurability)  ;)

That being said, I didn't realize you had that nice removal of build files from the image.   I'm testing that right now in quay.  I can't imagine why we would need to keep it up there.  Just an oversight on my part.

I'l

[2017-06-28 15:20] nathandunn commented on #17
FYI: https://quay.io/repository/gmod/docker-apollo

[2017-08-03 09:41] epaule opened #20 "createUser REST exceptions"
creating 100 users with a rest call using the below script creates:
[code]
errors, whereas it doesn't with the groovy script add_users.groovy (with a CSV file).

[code]

[2017-08-03 12:01] fikipollo opened #21 "Sample data"
Hi @nathandunn

Just a question "out of the topic", Do you now where can I find some test data for Webapollo? All the documentation and tutorials uses the "pyu_data" but it is not available anymore at http://genomearchitect.org/webapollo/data/pyu_data.tgz

Thanks

Rafa

[2017-08-03 16:51] nathandunn commented on #20
Thanks @epaule   I'll take a look at it next week.  Off the top of my head, though, I don't see any problem with your script.    Is it possible for you to use the groovy script instead for this?

https://github.com/GMOD/Apollo/blob/master/docs/web_services/examples/groovy/add_users.groovy

[2017-08-03 17:00] nathandunn commented on #21
Thanks.  Can you provide me with a sample link from where its linking from?

We’re trying to retire that server anyway, so I need to update the link.

Thanks,

Nathan

[2017-08-03 17:06] nathandunn commented on #21
I also moved the data back there so you can find it in the interim (while I fix other links).  Thanks.

[2017-08-04 07:25] fikipollo commented on #21
Many thanks! I found the link in some old tutorials such as the [GMOD WebApollo tutorial 2013](http://gmod.org/wiki/WebApollo_Tutorial_2013) and in old readthedocs entries (just google _pyu_data webapollo_), but in any case even in the latest version of the documentation you use the pyu_data at the _Data generation pipeline_ section but there is not information about where can we find the same dat

[2017-08-04 07:55] fikipollo commented on #17
The new version using alpine is great and saves a huge amount of space! Nice work!

Just FYI, I was working on the idea of allowing users to interactively prepare the data
within the docker  (i.e. using an interactive command line) using the jbrowse tools, and I realized that these tools are present in the image even after removing the _/apollo_ directory after building. The jbrowse tools are incl

[2017-08-04 07:55] #17 closed, assigned to nobody

[2017-08-04 10:24] epaule commented on #20
hmm ... seems to be limited to running it on the same host (localhost). As soon as I introduce a bit of network lag, it manages to process the transactions in line.

[2017-10-09 15:29] epaule opened #22 "pg user / password is not passed to psql"
in docker-apollo/launch.sh on master

you probably want:
a.) PGPASSWORD=$WEBAPOLLO_DB_PASSWORD passed along
b.) a -U $WEBAPOLLO_DB_PASSWORD passed into the options

[2017-10-09 23:50] nathandunn commented on #22
Shoot, would it be possible for you to submit a PR?

If not, I can do it, but I’d rather pull straight off of your working copy.

Thanks,

Nathan

[2017-10-10 08:53] epaule commented on #22
Can do. Just need to create a clean branch for the PR.
But my hack doesn't fix the logic bit that you most likely wont be able to
create the pg user / database as the user itself.

On 10 October 2017 at 00:50, Nathan Dunn <notifications@github.com> wrote:

[2017-10-10 14:46] nathandunn commented on #22
@epaule   I can push to your PR to fix anything additional.  Thanks.

[2017-10-10 20:08] nathandunn commented on #22
closed by #23

[2017-10-10 20:08] #22 closed, assigned to nobody

[2017-11-01 10:04] likku3 opened #24 "Docker build error"
When i was building the container using the Dockerfile getting this issue.

Grails not found using grailsw
Gradle not found using gradlew
Node Version: 8
Npm Version: 5
javac 1.8.0_141 found
javac installed
JDK 1.8 found: javac 1.8.0_141
OpenJDK 64-Bit Server VM warning: ignoring option PermSize=32m; support was removed in 8.0
OpenJDK 64-Bit Server VM warning: ignoring option MaxPermSize=256m; sup

[2017-11-01 15:38] nathandunn commented on #24
Could you try it again?  Looks like GitHub or your local connection was having issues.

[2017-12-20 03:06] tomdolafi opened #26 "User created annotations"
Hi,

I have an Ubuntu VM with Docker-CE.  I start the Apollo 2.0.6 container as shown in the Readme.  All seems fine, but there are no user created annotations unlike the demo site (http://apollo.berkeleybop.io/Apollo2/annotator/index).  I also get this error repeatedly in the logs...

ERROR apollo.AnnotatorController  - User does not have permissions for the site

Any suggestions?

Thanks,
Tom

[2017-12-20 18:57] nathandunn commented on #26
I updated the documentation for clarity (https://github.com/GMOD/docker-apollo/blob/master/README.md).  I would:

- use version 2.0.8 or latest instead of 2.0.6 (though presumably 2.0.6 would work fine as well).
- login with the supplied credentials (https://github.com/GMOD/docker-apollo/blob/master/README.md#logging-in)
- on the organism tab, load the data as shown: https://github.com/GMOD/docker

[2017-12-20 21:03] tomdolafi commented on #26
I did those steps previously.  What I was attempting to point out is that the annotations tab is empty after I load data as shown in readme.  Is that expected for this test data? On the demo site the annotations are there.  I also tried it with the yeast data and got the same results.

I also though that this "ERROR apollo.AnnotatorController - User does not have permissions for the site" is someh

[2017-12-20 21:34] tomdolafi commented on #26
Can't get image from quay.io.

[code]
This works..

` docker run -it -p 8888:8080 quay.io/gmod/apollo:latest
`
but I couldn't find the sample data with in it.

Thanks,
Tom

[2017-12-20 22:18] nathandunn commented on #26
Apologies, should be docker-apollo:

    docker run -it -p 8888:8080 quay.io/gmod/docker-apollo:2.0.8

I'll update the readme.

[2017-12-20 22:36] tomdolafi commented on #26
That worked to get the docker image.

The sample directory doesn't exist in this image (/apollo/jbrowse-download/sample_data/json/volvox).  /apollo only contains an apollo.war.  I extracted the war and could not find the sample data.

Thanks,
Tom

[2017-12-20 23:28] nathandunn commented on #26
Sorry, those are crappy directions (I'll continue to update them).

1 - If you make the following local directories:

- postgres-data
- jbrowse-data

2 - run

docker run -it -v /absolute/path/to/jbrowse-data:/data -v /absolute/path/to/postgres-data:/var/lib/postgresql -p 8888:8080 quay.io/gmod/docker-apollo:latest <http://quay.io/gmod/docker-apollo:latest>

3- Copy your JBrowse data into the jbrow

[2017-12-21 00:52] tomdolafi commented on #26
Run latest vs 2.0.8?  Instructions worked perfectly to get it installed and running with sample data.

Does this sample data come with user-created annotation?  I zero annotations loaded.  Tracks and Ref sequences loaded fine.  How can I get user-created annotation loaded like the demo site (http://apollo.berkeleybop.io/Apollo2/annotator/index)?

In Logs I see these two errors...  are these benign

[2017-12-21 01:45] nathandunn commented on #26
You have to create your own annotations (just right-click or drag up).    If you can login and create annotations you are good to go.

We have a lot of documentation: http://genomearchitect.github.io/users-guide/ <http://genomearchitect.github.io/users-guide/>

Instructions for the Apollo mailing list are here if you have general questions (http://genomearchitect.org/ <http://genomearchitect.org/>

[2017-12-21 15:40] tomdolafi commented on #26
I am able to create annotations, but I have to refresh the page to have them appear in the user-created annotations area.  On the demo site annotations appear immediately.

Nothing logs to catalina.out during annotation creation.  On page refresh these two errors occur, but page is functional.

[code]

Thanks,
Tom

[2017-12-21 17:11] nathandunn commented on #26
Hmm, it should just work at this point like the demo site.

Do you see any output in the javascript console or network tabs?

Nathan

[2017-12-21 18:27] tomdolafi commented on #26
nothing in the network tab.

This js error shows in the console tab.
[code]

[2017-12-21 18:30] tomdolafi commented on #26
That error is listed to be from AnnotTrack.js line 519

[2017-12-21 18:49] nathandunn commented on #26
It is, but its a bit tricky to see.  The trick is to open the network tab, filter by websockets, and then reload.   If you click on frames you should see the correct behavior coming up and going down.  If you could put in both the sent and returned message from the frame, that would be great.   Here is an example of me adding an annotation here:

![screen shot 2017-12-21 at 10 49 12 am](https://us

[2017-12-21 19:15] tomdolafi commented on #26
It was a cache issue.  Chrome held an older version of AnnotTrack.js from one of the various docker images I had tried out.  Drag and drop works.

In the old version at Line 422 parse was called twice.
     `changeData = JSON.parse(JSON.parse(message.body));`

[2017-12-21 19:17] nathandunn commented on #26
Whew!   Glad it worked out.  Go ahead and close this issue if everything is working, but feel free to ping me (or create a PR for the doc).    Hopefully this helps clarify this for others.

Thanks.

[2017-12-21 19:18] tomdolafi commented on #26
Thanks a lot for your help.

[2017-12-21 19:18] #26 closed, assigned to nobody

[2018-05-16 11:48] likku3 commented on #24
It was proxy issue  .Thanks for the suggestion

[2018-05-16 11:48] #24 closed, assigned to nobody

[2018-07-04 01:06] mictadlo opened #27 "Exceptions and Errors"
Hi,
I set up docker-apollo inside a `docker-compose.yml` file:

[code]

While starting up I got the following Errors and Exceptions:
[code]

What did I miss?

Thank you in advance.

Michal

[2018-07-04 06:55] nathandunn commented on #27
Well, there is a bit of work to be done unfortunately.

If you don’t need any advanced features of Apollo you could use the apollo-only branch, which is probably more of what you were looking for.

Conversely, you could use that and update this: https://github.com/GMOD/docker-apollo/blob/apollo-only/Dockerfile#L22 <https://github.com/GMOD/docker-apollo/blob/apollo-only/Dockerfile#L22>

To 6189ff9e

[2018-07-05 10:01] mictadlo commented on #27
Hi,
What do you mean by any advanced features of Apollo?

We try to set up a portal which contains blast server (sequenceserver), our own webpage, Apollo for annotation and jbrowse for displaying the data. Furthermore, we thinking to include more web tools.

Our current `docker-compose.yml` is:

[code]

I assume `apollo-only` would work, too. Do you have any recommendations on how to set it up?

T

[2018-07-06 07:29] nathandunn commented on #27
By "advanced-features" I think I meant Chado export, but that's not really an advanced feature.   Sorry for the red herring.

For doing what you are doing, I what look more closely at https://github.com/galaxy-genome-annotation/docker-galaxy-genome-annotation  and use the `apollo-only` target with modifications (you should fork this project).  If you look closely at the dockererized version of gmo

[2018-07-08 11:28] mictadlo commented on #27
I changed it to `ENV WEBAPOLLO_VERSION 6189ff9e2973e1523ddcdbeee9d258c435c42a54` but I still got:

[code]

What did I miss?

The docker-galaxy-genome-annotation looks nice.

Thank you in advance.

Michal

[2018-07-09 04:03] nathandunn commented on #27
I updated the apollo-only target.   If you can provide me with a repo to debug that would be great.

So, you should (in a few minutes from this post), be able to use:

[code]

However, I would also explore, though they may be less up-to-date (though possibly sufficient for what you need):

- https://github.com/galaxy-genome-annotation/dockerized-gmod-deployment
- https://github.com/galaxy-genome-a

[2018-07-09 04:29] mictadlo commented on #27
I used [this](https://github.com/GMOD/docker-apollo/commit/6189ff9e2973e1523ddcdbeee9d258c435c42a54) one.

[2018-07-09 04:31] nathandunn commented on #27
@mictadlo   That should be fine, but where did you use it?   Where is it pulling the build from?

[2018-07-09 04:32] mictadlo commented on #27
I clone it and modified locally.

[2018-07-09 04:36] nathandunn commented on #27
I see.  So, that is a different then the docker-compose file above?

If you could provide me with that either off-line or here, that would be ideal so that we are on the same page for building.

The difference is that the apollo-only branch builds only apollo whereas the master branch builds that plus postgresql, etc.     Though, that being said, maybe you want the master branch anyway looking at

[2018-07-11 04:21] mictadlo commented on #27
I think [this](https://github.com/galaxy-genome-annotation/dockerized-gmod-deployment/blob/master/docker-compose.yml) looks the best because it has all built in.

However, I do not understand why it is required to have two of the same images:
[code]

apollo-only casused the following problems some of them are related that I did not have postgresql in my docker-compose file:

[code]

What did I mis

[2018-07-11 04:55] nathandunn commented on #27
The error is because its trying to connect to a postgresql server and its either not there, or the connection credentials are misconfigured.  These are typically passed is as variables in [the example you gave](https://github.com/galaxy-genome-annotation/dockerized-gmod-deployment/blob/master/docker-compose.yml).

My advice would be to [fork their project](https://github.com/galaxy-genome-annotati

[2018-07-13 10:36] mictadlo commented on #27
Thank you for your help. I did what you suggested https://github.com/galaxy-genome-annotation/dockerized-gmod-deployment/issues/8

[2018-07-25 21:44] mictadlo commented on #27
Hi Nathan,
I decided that I only need apollo and postgresql without chado. This is the new `docker-compose.yml` file:

[code]

However, I have got the following Errors and Exceptions:

[code]

What did I miss?

Thank you in advance.

Michal

[2018-07-25 22:07] nathandunn commented on #27
Is there any reason to use docker-compose instead of just the original docker image?

Shouldn’t matter if chado loads or not.

Nathan

[2018-07-25 23:31] mictadlo commented on #27
Do you mean `quay.io/gmod/docker-apollo` rather `quay.io/gmod/docker-apollo:apollo-only`?

[2018-07-25 23:40] nathandunn commented on #27
Yes.   It has everything baked in, and I've tested it already.

[2018-07-26 00:26] mictadlo commented on #27
I still got some errors and I just wonder whether this is correct.

[code]

Thank you in advance,

Michal

[2018-07-26 05:22] nathandunn commented on #27
1. I would initially try doing it without the database mount (obviously there will be problems persisting after the container goes down).  If that works then I would

2. I would clear out the database volume you are mounting (for now, backing up what is there.).  That might work (if the directory exists).  If it does not, try doing a pg_init on the mounted directory (from within the container or e

[2018-07-26 21:44] mictadlo commented on #27
I clean up the volumes and started again docker with apollo but I got the same error. I do not know how can I remove from your docker image the database mount.

[2018-07-26 22:09] nathandunn commented on #27
- `docker kill $(docker ps -q)`
- `docker rm $(docker ps -a -q)`
- `docker rmi $(docker images -q)`

[2018-07-26 22:12] nathandunn commented on #27
and then run:
- `docker run -it -p 8888:8080 gmod/apollo:latest`

[2018-07-26 22:18] nathandunn commented on #27
I am running this on a mac:

[code]

[2018-07-26 22:54] mictadlo commented on #27
I followed your instructions and I get the same errors with docker -v
Docker version 18.03.1-ce, build 9ee9f40

What did I miss?

[2018-07-26 22:59] nathandunn commented on #27
You ran all 4 of those instructions as typed and you still got:

[code]

?

[2018-07-26 23:16] mictadlo commented on #27
Yes, I still get the same errors. Do you get them, too?

[2018-07-26 23:28] nathandunn commented on #27
Nope.   Are you running on a Mac?

Can you build and run locally or try it on another system?

Nathan

[2018-07-26 23:52] mictadlo commented on #27
Yes, I am using a Mac and I tried in on Centos 7. Both provide me with same error.

[2018-07-27 00:55] nathandunn commented on #27
Okay.  I’ll try running it on a few different machines.  I may have defined something locally that I forgot about.

[2018-07-27 15:17] nathandunn commented on #27
Okay @mictadlo  seeing the same error.   Will try to get a fix.

[2018-07-27 15:57] nathandunn commented on #27
@mictadlo  If you do use apollo-only, you have to set the environmental variables accordingly, which means setting up an external postgresql server via docker-compose.

https://github.com/GMOD/docker-apollo/blob/apollo-only/apollo-config.groovy

I haven't tested it yet, but am still working on bringing up the default image.

[2018-07-27 17:19] nathandunn commented on #27
@mictadlo  I'm pushing another fix on latest:

https://github.com/GMOD/docker-apollo/commit/5ad4368c0273c35f8f752de88e40bc0a38912c88

Looked like there were some issues with tomcat8

[2018-07-27 17:20] nathandunn commented on #27
Re-open if it doesn't fix it, though.

[2018-07-27 17:20] nathandunn commented on #27
I'll retest the build as well

[2018-07-30 00:09] mictadlo commented on #27
Hi Nathan,
I ran the following commands and I still got the errors.
[code]

Did I miss anything?

Thank you in advance,

Michal

[2018-07-30 00:45] nathandunn commented on #27
docker pull gmod/apollo

Or

docker pull gmod/apollo:latest

It should *hopefully* bring back the newest image.

Nathan

[2018-07-30 04:33] nathandunn commented on #27
though, if you remove the local images, it should try to fetch the newest, so not sure what's up.  I haven't tested with the remotely built images.

[2018-07-30 05:17] mictadlo commented on #27
I tried those commands and still, I have the same errors:

[code]

[2018-07-30 05:25] nathandunn commented on #27
Just ran this on a a new machine that didn't have docker installed on it before.  Is that something you could try (or run it within virtualbox, etc.?).

Here is my output (feel free to post all of yours here as well):

[code]
...
[code]

[2018-07-30 07:34] mictadlo commented on #27
I'm confused your output has `psql:/chado.sql:49: ERROR:  must be owner of extension plpgsql` and may the other [one too](https://github.com/GMOD/docker-apollo/issues/27#issuecomment-408260537).

[2018-07-30 16:16] nathandunn commented on #27
@mictadlo  Tomcat should be fixed (which was the prior problem).    Its possible that chado is still not functioning properly, but I want to make sure this works for you, first.

If, after running `docker run -it -p 8888:8080 gmod/apollo:latest` if you can't connect to http://localhost:8888/  let me know and paste the entire output.

[2018-07-30 21:38] mictadlo commented on #27
Apollo starts at http://localhost:8888/, but what it is about the above errors.

[2018-07-30 22:02] nathandunn commented on #27
I can fix the above errors later (I’ll issue another ticket) as I have other things to work on.

Just to confirm, this allows you to start moving forward with Docker and Apollo, or do you need Chado, as well?

Nathan

[2018-07-30 22:18] mictadlo commented on #27
No, at the moment I do no need Chado.  Will the above error effect Apollo?

[2018-07-30 22:55] nathandunn commented on #27
It shouldn’t affect Apollo, but let me know if it does.

If you can add an organism and annotate it is working.

Nathan

[2018-07-30 23:29] mictadlo commented on #27
OK, When do you think you would have time to fix chado?

[2018-07-30 23:35] nathandunn commented on #27
Oh, you do need Chado then?

Sure, I will take a look at it by the end of this week.

Nathan

[2018-08-02 21:46] nathandunn commented on #27
@mictadlo  I think that chado should be working now that I look at it more closely.  The error that you are seeing is generated on the COMMENT line, but it still continues with the load:

<img width="511" alt="screen shot 2018-08-02 at 2 43 21 pm" src="https://user-images.githubusercontent.com/751274/43612860-6ee3b7d6-9662-11e8-80fb-d5d1f811e9ad.png">

And when I run this docker image it comes up

[2018-08-02 21:46] #27 closed, assigned to nobody

[2018-08-02 21:46] nathandunn commented on #27
Re-open if you need to.

[2018-10-16 15:33] agroppi opened #28 "Apollo docker running... but now ?"
Hi,

After many unsuccesfull try to install Apollo, I shifted to the docker version :
But, I realise that it's impossible to add data after that.
I have to generate the data (ref genome, and all gff file) inside a jbrowse-data
directory and after that run apollo-docker
Am I right ?
But in this case, where can I find the scripts described here : https://genomearchitect.readthedocs.io/en/latest/Data

[2018-10-16 19:11] nathandunn commented on #28
What were the errors / what was your system?

directory and after that run apollo-docker

Yes.  You have to mount it with the `-v` options.

Those scripts are within the JBrowse directory, either in jbrowse/bin or bin

Conversely, if you use indexed fasta and tabix gff3, you can just manually edit the trackList.json / tracks.conf

Examples of both are in here:

http://jbrowse.org/docs/tutorial.htm

[2018-10-17 08:12] agroppi commented on #28
It seems that the problem is linked to mysql (MariaDB).
When I omit to install MariaDB, the the local instance `./apollo run-local` is working

I'm working on CentOS7

OK but, inside the docker ... I will grep them from the github and execute outside the container

Thanks :)

[2018-10-18 15:48] agroppi opened #29 "How to edit annot.json in the docker ?"
I want to add custom tracks (like pfam domains, blast results, etc ...)
I have these data in gff format, but for example the type "domain" is not present in the annot.json
[code]
Is there a solution ?

Thanks

[2018-10-18 16:53] nathandunn commented on #29
Is this related to: https://github.com/GMOD/Apollo/issues/1948?

If so, close this in favor of that.    Thanks.

[2018-10-18 17:18] agroppi commented on #29
Yes sorry for that. Samme question as https://github.com/GMOD/Apollo/issues/1948

[2018-10-18 17:18] #29 closed, assigned to nobody

[2018-10-24 11:53] michaelp896 opened #30 "BLAT error - Error running search: Cannot run program "/usr/local/bin/blat": error=2, No such file or directory"
I set up Apollo from the container and I'm trying to get blat working.

I installed blat in /usr/local/bin:
![screen shot 2018-10-24 at 13 46 08](https://user-images.githubusercontent.com/3137703/47428314-2f634780-d793-11e8-83aa-56db228b0eb1.png)

and when I added my organism I set the path to the search directory to go to the .2bit file:
![screen shot 2018-10-24 at 13 49 28](https://user-images.g

[2018-10-24 16:28] nathandunn commented on #30
Yes.  You need to properly have BLAT added (this is probably something I should have added to the image by default).

https://genomearchitect.readthedocs.io/en/latest/Configure.html?highlight=blat#main-configuration <https://genomearchitect.readthedocs.io/en/latest/Configure.html?highlight=blat#main-configuration>

[2018-10-25 14:29] michaelp896 commented on #30
Hmm, I configured the groovy file in the image as suggested and I'm still getting the same error :-(
![screen shot 2018-10-25 at 16 30 27](https://user-images.githubusercontent.com/3137703/47507877-53965580-d873-11e8-965b-9e31fa13b24e.png)

here's the relevant portion of the groovy file:
[code]
any other suggestions for what might be going on?

[2018-10-25 15:09] nathandunn commented on #30
Its probably because its not there.  I added this to the docker image, but you can always do the same via bash:

    RUN curl -s "http://hgdownload.soe.ucsc.edu/admin/exe/linux.x86_64/blat/blat" -o /usr/local/bin/blat
    RUN chmod +x /usr/local/bin/blat

[2018-10-29 12:54] michaelp896 commented on #30
ah. I see now. Thanks!

[2018-10-29 12:54] #30 closed, assigned to nobody

[2018-11-27 11:45] marchoeppner opened #31 "Increasing max memory inside container?"
Hi,
I have been running the WA docker container successfully for some time. Now I wanted to implement a backup routine for the curation track of a vertebrate genome (> 20.000 models). I get a an out of memory error when doing this from outside the container using the groovy get_gff3.groovy script that is bundled with WA.

The machine has plenty RAM, but I think the tomcat server inside the docker

[2018-11-27 17:26] nathandunn commented on #31
I haven’t done it, but if you are able to figure out a solution, please open a PR for it, as I think at least GB would be useful.

https://stackoverflow.com/questions/29923531/how-to-set-java-heap-size-xms-xmx-inside-docker-container <https://stackoverflow.com/questions/29923531/how-to-set-java-heap-size-xms-xmx-inside-docker-container>

Nathan

[2018-11-28 03:01] nathandunn commented on #31
@marchoeppner  Most likely you'll be updating the `launch.sh` script.   I'm sure there will be several ways to do it.  Unfortunately, I have to look at other stuff.

Might be worth posting to the Apollo list, though, as someone there has already done this.

[2018-12-19 15:36] nathandunn opened #32 "2.2.0 seems to hide introns"
Ran this with both honeybee and volvox data and it hides introns in both cases.

![screen shot 2018-12-19 at 7 30 44 am](https://user-images.githubusercontent.com/751274/50229974-6bb0bf80-0360-11e9-9d8c-d8015b846978.png)

Either the feature, feature-render, annot-render or plus-annot has somehow lost its internal bits (I think).

[2018-12-19 15:37] nathandunn commented on #32
- [ ] fix css
- [ ] relabel docker-apollo versus gmod/apollo (hub versus quay)

[2018-12-19 17:09] nathandunn commented on #32
So, in a working versus a non-working piece.  Somehow the div.annot-render is masking the regular one.

![screen shot 2018-12-19 at 9 07 36 am](https://user-images.githubusercontent.com/751274/50235849-b7b63100-036d-11e9-983d-19affca8f03f.png)
![screen shot 2018-12-19 at 9 07 29 am](https://user-images.githubusercontent.com/751274/50235850-b7b63100-036d-11e9-82dd-6f0c1bfb2be7.png)

[2018-12-19 17:14] nathandunn commented on #32
Its from the neat-features CSS . . . over-writing.

[2018-12-19 19:33] nathandunn commented on #32
Even if the plugin hasn't been included, the CSS somehow is getting added.

[2019-01-04 05:41] nathandunn commented on #32
Fixed by removing plugin

[2019-01-04 05:41] #32 closed, assigned to nathandunn

[2019-02-09 01:05] chibante opened #35 "[FAIL] Starting Tomcat servlet engine: tomcat8 failed!"
Hi, guys!

I downloaded the Apollo (2.2.0 and latest) docker image and the container don't started. The tomcat fail:
[code]
And the page not open:

![image](https://user-images.githubusercontent.com/46681974/52513464-0ce62480-2bf2-11e9-9ba0-54df2ce414a6.png)

In other image that I downloded last week it isn't happend. My server has a tomcat version 8.5.37 installed, is it a problem?  What could ha

[2019-02-09 02:16] nathandunn commented on #35
It’s probably on port 8888 though I would have to see your docker command and the rest of the stack trace

Nathan

[2019-02-10 17:52] chibante commented on #35
Ups! :|

Sorry, I sent a wrong image...I tested both ports (8888, 8080) and the result was the same:

![image](https://user-images.githubusercontent.com/46681974/52537178-b17b7a00-2d4a-11e9-84dd-32e8c8f9aed3.png)

My docker command was:

`sudo docker run -it -p 8888:8080 -v /home/carla/Apollo/data:/data  quay.io/gmod/docker-apollo:latest`
[code]
![image](https://user-images.githubusercontent.com/4

[2019-02-11 00:02] nathandunn commented on #35
Try logging into:

http:local:888/

The “apollo” shouldn’t be necessary.  Sorry for the confusion:

Nathan

[2019-02-11 00:50] chibante commented on #35
Ok, no problem! :)

I tried `http:local:8888/` on **Google Chrome**:

![image](https://user-images.githubusercontent.com/46681974/52542340-d3462280-2d85-11e9-9bf8-8e1877025e52.png)

And **Firefox**:

![image](https://user-images.githubusercontent.com/46681974/52542359-038dc100-2d86-11e9-84e5-89e14256d5f2.png)

[2019-02-11 00:51] nathandunn commented on #35
Sorry, I meant http://localhost:8888

[2019-02-11 01:25] chibante commented on #35
I realized that there was an "8" less but I did't pay attention to the `local` instead of` localhost`
Sorry!

It's ok now!
![image](https://user-images.githubusercontent.com/46681974/52542582-5c5e5900-2d88-11e9-9c62-886a108379f0.png)

But don't understend why the `tomcat` fail:
![image](https://user-images.githubusercontent.com/46681974/52542603-aa735c80-2d88-11e9-8ea7-44ac9f2aa312.png)

Do you kn

[2019-02-11 01:43] nathandunn commented on #35
Not sure either.  Possibly it was already started.   But if you are seeing this page, then it must be working.

Please close if you don't need anything further.

[2019-02-11 02:08] chibante commented on #35
Thanks!!! =)

[2019-02-11 02:09] #35 closed, assigned to nobody

[2019-02-20 08:41] mictadlo opened #36 "Preparing files for Apollo"
Hi,
How is it possible to prepare files for Apollo when using Apollo inside a docker container?

Thank you in advance,

Michal

[2019-02-20 15:57] nathandunn commented on #36
I think so . . . depends on the file you are talking about:

docker run -it -v /jbrowse/root/directory/:/data -v postgres-data:/var/lib/postgresql -p 8888:8080 gmod/apollo:latest

Anything in /jbrowse/root/directory will be visible as ‘/data’ to the server.    Note, to keep the database persistent you have to use the postgres-data link below.

Otherwise you can set most of the properties from the

[2019-02-28 03:49] hodgett opened #37 "change root URL"
I have successfully installed the docker, have it working, and have my organism viewable. I have also made the docker instance accessible behind Apache using the ProxyPass and ProxyPassReverse parameters so that I can easily use HTTPS. The problem I have now is that there are a number of links that are hard coded to the root i.e. any of the admin functions, public organisms. Is there a way of sett

[2019-02-28 04:00] nathandunn commented on #37
@hodgett  Its very possible (probably).     There are a large number of environmental variables that you can pass into the docker image:

https://github.com/GMOD/docker-apollo/blob/master/apollo-config.groovy#L72

But, maybe you mean something else.    Are you talking about web services, or the copied links?

A little more detail would be helpful.

[2019-02-28 04:09] hodgett commented on #37
Nope. Nothing useful in that reference.
I assume it's the web services, when I click on a link within the Admin tab. In my case it doesn't take me to /apollo/proxy but to /proxy. Just like a public organism takes me to /32 instead of /apollo/31

[2019-02-28 04:19] nathandunn commented on #37
Would you mind uploading a screenshot?

[2019-02-28 04:44] hodgett commented on #37
From the attached capture1 is when I am selecting from public organisms (note the apollo image doesn't show either). capture2 is when I click on the link - you can see the root folder is not /apollo/ any more;
![capture1](https://user-images.githubusercontent.com/24687753/53541772-1dd9e400-3b67-11e9-97f9-be0f3572c151.PNG)
![capture2](https://user-images.githubusercontent.com/24687753/53541777-216d

[2019-02-28 05:28] nathandunn commented on #37
I see . . . okay I'll take a look

[2019-02-28 19:23] nathandunn commented on #37
None of the parameters are hard-coded to root, but they are hard-coded to what they perceive as their  relative path of the context.   Thus it looks like the proxy-pass doesn't use the same path.

I'm going to try and add a fix so you can specify:

    docker -e APOLLO_PATH=apollo

Or something similar.

[2019-02-28 20:22] #37 closed, assigned to nobody

[2019-02-28 20:24] nathandunn commented on #37
@hodgett  Seems to be working.

I used

     docker run -it -v /opt/apollo/:/data -p 8888:8080 -e APOLLO_PATH=apollo  c205deec03e3

after building it locally and it worked.

I'm sure it will rebuild in about in hour if you want to try it off of quay.

[2019-02-28 20:24] nathandunn commented on #37
![screen shot 2019-02-28 at 12 22 12 pm](https://user-images.githubusercontent.com/751274/53596088-d302a100-3b53-11e9-862d-b07af7e8d1b7.png)

[2019-02-28 22:33] hodgett commented on #37
Hmm, docker can't find c205deec03e3. Are you going to commit to latest?

[2019-02-28 22:35] nathandunn commented on #37
Yeah, that was my local image as an example.

You'l want to use the latest quay build instead:

    quay.io/gmod/docker-apollo:latest

[2019-02-28 22:43] hodgett commented on #37
Yes, I did try that but the image did not rebuild and the  '-e APOLLO_PATH=apollo' option did not work.

[2019-02-28 23:06] hodgett commented on #37
Ok, I did a docker pull quay.io/gmod/docker-apollo:latest to get the latest, and now apollo is totally broken, just getting a blank screen. I'll try pruning everything and starting again.

[2019-02-28 23:26] hodgett commented on #37
Sorry, it looks like the new option APOLLO_PATH=apollo doesn't work as expected. If I don't use it then I get the same functionality as before, but using it gets to the following but no further, Apollo just gives a blank screen. Have I missed something? Do I need to change the proxypass in apache?

`Configuring Shiro ...

Shiro Configured
2019-02-28 23:21:45,530 [localhost-startStop-1] ERROR hbm2d

[2019-02-28 23:32] nathandunn commented on #37
sometimes it doesn't exit cleanly when it gets killed (and confirm others are killed), as it looks like it is locked on something (but the error doesn't look problematic).  I'd wipe the containers and start it up with the proper options.

    -e APOLLO_PATH:apollo -p 8888:8080

You should be able to connect via <http://localhost:8888/apollo>

WRT the proxypass, I have some documentation here: http

[2019-02-28 23:50] hodgett commented on #37
Ok, all sorted, my fault. I also needed to append apollo to the proxypass statements in apache! Doh!
So yes, your changes are work well, I can confirm now that all the links are working correctly. Thanks for all the help and for how quickly you did it!

[2019-03-01 00:10] nathandunn commented on #37
No problem.  It is a good feature to have.   Thanks for being persistent.

[2019-03-01 21:13] hodgett commented on #31
Has anyone figured this one out yet? I have tried passing JAVA_OPTS and CATALINA_OPTS using -e but they don't take. The memory allocated is way too small to handle the datasets and I get the following err for the bam track;
![screenshot from 2019-03-02 07-12-22](https://user-images.githubusercontent.com/24687753/53666723-a4530a80-3cba-11e9-8386-724fa19d4f23.png)

[2019-03-01 22:52] nathandunn commented on #31
@hodgett  are you sure its memory related?    Can you show me the catalina.out and the javascript console?

[2019-03-02 02:52] hodgett commented on #31
Where do I find these?

[2019-03-02 02:55] hodgett commented on #31
Restarting tomcat with /var/lib/tomcat8
[FAIL] Starting Tomcat servlet engine: tomcat8 failed!
01-Mar-2019 21:09:27.539 INFO [main] org.apache.catalina.startup.VersionLoggerListener.log Command line argument: -Dcatalina.home=/usr/share/tomcat8
01-Mar-2019 21:09:27.539 INFO [main] org.apache.catalina.startup.VersionLoggerListener.log Command line argument: -Djava.io.tmpdir=/tmp/tomcat8-tomcat8-tmp

[2019-03-02 02:56] hodgett commented on #31
I don't know where to find catalina.out, the one on my host is zero length

[2019-03-02 03:28] nathandunn commented on #31
@hodgett  In this case, what you are are seeing above is the `catalina.out`.

1. What are you seeing in the javascript console of your browser?
1. What did your raw source data file look like?
1. How did you process the tracks?
1. If you turn off that track, does everything seem to work normally (a zoomed out screenshot would confirm this).

Thanks.

[2019-03-02 04:35] hodgett commented on #31
From the system info I see;
Max memory | 6257.246208 MB
Free memory | 145.815840 MB
Available processors | 2
Total memory | 636.080128 MB

I would like to increase the total memory like I have seen in other apollo installs, 636Mb is way too small. The BAM file is 250Gb. Only this track is showing the error, the other tracks display fine in the same window.
`      {
         "baiUrlTemplate" : "raw

[2019-03-02 05:16] nathandunn commented on #31
That bam size won’t necessarily affect memory.  You need the chrome JavaScript console to see what the error is.

[2019-03-02 11:12] hodgett commented on #31
`BlockBased.js:376 TypeError: Failed to fetch TypeError: Failed to fetch
_handleError @ BlockBased.js:376
inherited @ declare.js:214
_handleError @ CanvasFeatures.js:231
errorCallback @ CanvasFeatures.js:460
Promise.catch (async)
_getFeatures @ BAM.js:346
(anonymous) @ lang.js:337
signalListener @ Deferred.js:37
Deferred.then.promise.then @ Deferred.js:258
getFeatures @ DeferredFeaturesMixin.js:31

[2019-03-02 13:07] hodgett commented on #31
`tenacious-fetch.m.js:2 GET https://sefapps06.qut.edu.au/apollo/31/jbrowse/data/raw/NbRNASeq_AllS.sorted.bam.bai net::ERR_CONTENT_LENGTH_MISMATCH 200
t @ tenacious-fetch.m.js:2
(anonymous) @ tenacious-fetch.m.js:2
t @ tenacious-fetch.m.js:2
(anonymous) @ tenacious-fetch.m.js:2
getfetch @ XHRBlob.js:30
_callee$ @ XHRBlob.js:209
tryCatch @ runtime.js:65
invoke @ runtime.js:303
prototype.(anonymous f

[2019-03-02 16:15] nathandunn commented on #31
Looks like an error reading the index.

1. Does this happen for smaller BAM tracks?
2. Does this happen for EVERY scaffold?
3. Does this happen for standalone JBrowse?

I would download and install the latest version of JBrowse:  http://jbrowse.org/ <http://jbrowse.org/>
And point it at that directory and see if you see the same error.   (You should be able to do an ./setup.sh && npm start)

If th

[2019-03-14 12:42] #14 closed, assigned to hexylena

[2019-04-03 21:57] quokkamole opened #39 "Browser hangs on "Loading..." with latest apollo docker container"
I have built the latest docker-apollo using the supplied Dockerfile and associated files and a Docker-compose file:

[code]

The container seems to build correctly and starts up. The first problem I encounter in my browser when navigating to the web-apollo installation is that it complains about /temporary/apollo_data not being present. So I have gone into the container and created it. The folder

[2019-04-05 13:13] nathandunn commented on #39
So, I'm not sure where its producing those errors from, but I would probably update to use the latest (versus 2.3.1) quay image instead of building it locally.

I added a `common` directory to the configuration that needs to be specified.  Typically on startup it will query you or you can set it in the config (having some network trouble, but it is in here https://genomearchitect.readthedocs.io/en

[2019-05-03 21:25] nathandunn opened #40 "commonsDirectory not created correctly via docker on ubuntu"
When running:

[code]

It fails to ever do a mkdirs() when the directories are there or not and world-readable or not.  Using this method, though, it seems to work correctly.

[code]

[2019-05-03 22:58] #40 closed, assigned to nobody

[2019-05-29 10:52] csmibrahim opened #41 "Tracks view give "Object Response" Error"
Hi,
I have a working docker image from the GitHub but I get object Response error when I add tracks as shown below.
<img width="1440" alt="Screenshot 2019-05-28 at 20 22 52" src="https://user-images.githubusercontent.com/44603963/58551429-e6cbab00-8207-11e9-8d1e-8e88d6d55bf6.png">

The error in itself is not helpful to track the problems.

Other GitHub issue shows similar error and was fixed by ad

[2019-05-29 15:47] csmibrahim commented on #41
Any idea?
Regards

[2019-05-29 16:15] cmdcolin commented on #41
Looks like a 404 file not found for this URL. The JBrowse side of things did a couple updates to improve this error message, apologies for the vagueness. I don't know if there is something specific about docker apollo that causes this though

[2019-05-29 16:52] nathandunn commented on #41
@csmibrahim  Some questions:

- Are you able to add a GFF3 file?
- How are you mounting / running?
- Where are the mounted files located?
- How are you adding the BAM files (manually or via upload)?
- Do you see any tomcat error logs (you have to be in the system to see them)?

[2019-05-29 18:04] csmibrahim commented on #41
**Are you able to add a GFF3 file?**
-- No Many Perl packages missing and errors
**How are you mounting / running?**
-- I followed the step on the GitHub page. Running production using the build created by quay.io.
**Where are the mounted files located?**
-- All files at jbrowse-data folder as in the Example.
**How are you adding the BAM files (manually or via upload)?**
Manually.
**Do you see any

[2019-05-29 20:09] nathandunn commented on #41
@csmibrahim  I am traveling this week, but I will try to test when I can.  I will need a bit more detail:

Can you add a track by clicking on "New Track" here?

![image](https://user-images.githubusercontent.com/751274/58587558-8e4ddb00-8212-11e9-9a48-324cc5305ad9.png)

A specific command would be really helpful here, as I have lots of commands.   Feel free to obscure any local paths if need to, o

[2019-05-30 11:40] csmibrahim commented on #41
**I followed the steps as in https://github.com/GMOD/docker-apollo read.me**

**Running with:**
docker run -it -v /jbrowse/root/directory/:/data -v postgres-data:/var/lib/postgresql -p 8888:8080 quay.io/gmod/docker-apollo:latest

**Here the tracklist:**
{
   "tracks" : [
      {
         "key" : "Reference sequence",
         "storeClass" : "JBrowse/Store/Sequence/StaticChunked",
         "categor

[2019-05-30 12:48] nathandunn commented on #41
So to clarify you have something like:
- `/jbrowse/root/directory/<organism name>`
- the organism it goes to is within apollo is `/data/<organism name`
- ls `/jbrowse/root/directory/<organism_name>` should yield (at a minimum):
   - trackList.json, PDB_sub.bam, PDB_sub.bam.bai, seq, tracks

[2019-05-30 13:06] nathandunn commented on #41
It might work to upload the organism and GFF3 file:

![image](https://user-images.githubusercontent.com/751274/58634484-6796af80-82b9-11e9-94a4-92dd9bbf1a35.png)

[2019-05-30 13:33] nathandunn opened #42 "increase default docker memory and tomcat memory"
- [ ] increase tomcat memory to be 2 GB max, 512MB min
- [ ] instructions for default docker memory, etc.

Notes:

https://stackoverflow.com/questions/29923531/how-to-set-java-heap-size-xms-xmx-inside-docker-container <https://stackoverflow.com/questions/29923531/how-to-set-java-heap-size-xms-xmx-inside-docker-container>

Upload is really slow.

[2019-05-30 13:33] nathandunn commented on #31
I'm going to close this for now.  Moving the original scope to #42

[2019-05-30 13:33] #31 closed, assigned to nobody

[2019-05-30 13:34] nathandunn commented on #31
But feel free to re-open if still an issue.

[2019-05-30 13:35] nathandunn commented on #42
Memory lockup is here:

![image](https://user-images.githubusercontent.com/751274/58636391-32d92700-82be-11e9-97fa-a4514ef66b4e.png)

[2019-05-30 13:36] nathandunn commented on #42
[code]

[2019-05-30 17:02] csmibrahim commented on #41
Yes, I have all of that and I uploaded the organism already from the interface successfully and all are fine.
Until I added tracks and try to see them on Jbrowser the error come.
For GFF3, when I run the flatfile-to-json i got endless missing Perl packages but this is not the issue her now.

[2019-05-30 17:06] nathandunn commented on #41
Can you use the `new track` feature?

https://github.com/GMOD/docker-apollo/issues/41#issuecomment-497090491

Also, I updated the quay image if you want to pull it `docker pull quay.io/gmod/docker-apollo:latest `

[2019-05-30 17:17] csmibrahim commented on #41
Yes, this work perfectly.

Previously I was following the data loading steps as in https://genomearchitect.readthedocs.io/en/latest/Data_loading.html.

Is there any new documents other than this I can follow?

[2019-05-30 17:24] nathandunn commented on #41
@csmibrahim  There is not.  I will plan it for the 2.4.0 release.

However, if you want to add any here to detail your process, https://github.com/GMOD/Apollo/blob/develop/docs/Data_loading.md  that would be awesome.

I can reformat / reorganize it later.

[2019-05-30 17:24] nathandunn commented on #41
Can we close this, or are you still having trouble with BAM files using this mechanism?

[2019-05-30 17:25] #41 closed, assigned to nobody

[2019-05-30 18:47] MoffMade opened #43 "PSQL Password auth fails for user "apollo" when different DB_USERNAME is supplied"
Starting the docker-apollo container using the environment flags WEBAPOLLO_DB_USERNAME and CHADO_DB_USERNAME set to 'postgres' instead of the default results in positive messages and connections to the databases at the beginning of the launch script but after Shiro is configured I get the following error, and several similar ones after.

[code]

I also get a "Starting Tomcat servlet engine: tomcat

[2019-05-31 13:10] nathandunn opened #44 "add docker-apollo doc for adding the temp data directory / create temporary data"
Based on the volume mounted, need to add the temporary directory

e.g., chmod -R 777 temporary/
ubuntu@ip-172-30-0-60:~/apollo_data$ pwd
/home/ubuntu/apollo_data

[2019-05-31 13:20] nathandunn commented on #44
Current we do this for the DB:

[code]

[2019-05-31 13:36] nathandunn commented on #44
something like:

[code]

[2019-05-31 13:45] nathandunn commented on #43
@MoffMade  I don't know much about rancher, but I passed in variables via an environmental file and it seemed to work:

     sudo docker run -it -p 8080:8080 --env-file env.file -v /home/ubuntu/postgres_data:/var/b/postgresql -v /home/ubuntu/apollo_data:/data quay.io/gmod/docker-apollo:latest

where env-file is:

[code]

[code]

Of course for me it hangs because it doesn't exist.

[2019-05-31 14:21] #44 closed, assigned to nobody

[2019-05-31 17:44] MoffMade commented on #43
I get to that point, see these logs:

[code]

It gets past checking the database availability but fails later with user "apollo" rather than the username "postgres" that was passed to it (and assuming was used for the original db check)

[2019-05-31 22:14] nathandunn commented on #43
Oh, I see the problem now.  I'll see if I can't reproduce it in order to find a fix.

[2019-05-31 22:23] MoffMade commented on #43
I'm pulling the image from quay.io/gmod/docker-apollo:latest if that helps narrow things down.

[2019-05-31 22:34] nathandunn commented on #43
Yeah, somehow the apollo-config.groovy doesn't seem to be pulling stuff out of the environment correctly.    Trying to see why now.

[2019-06-03 21:37] nathandunn commented on #43
- [x] dump env in environment
- [x] make sure that environment shows up in apollo-config.groovy
  - [x] tried export and setting as keys
  - [x] trying new image
  - [x] explore using `CMD ["catalina.sh", "run"]`
  - [x] try setting  in setenv.sh (just write it out I guess?)
- [ ] configure WEBAPOLLO_USE_CHADO

[2019-06-03 21:53] nathandunn commented on #43
After dump we get this on build:

[code]
We run it this way:

     docker run  --env-file=env.list -v /opt/apollo/:/data -p 8888:8080 ddc9932da43f

with this env file:

[code]

[2019-06-03 23:23] nathandunn commented on #43
Use this:

https://forums.docker.com/t/passing-environment-variables-to-a-docker-image-to-a-file-in-tomcat/59199

[2019-06-04 00:11] nathandunn commented on #43
Have to create setenv.sh  . .

[2019-06-04 00:33] nathandunn commented on #43
@MoffMade  I think this OR fixes it:  https://github.com/GMOD/docker-apollo/pull/46

You can use this tag (yes, fix is twice): `quay.io/gmod/docker-apollo:fix-fix-43`

There are quite a few changes, but I think its better in a number of ways, but let me know.

[2019-06-07 15:21] #43 closed, assigned to nobody

[2019-06-11 08:58] heshamgibriel opened #47 "GFF3 track not working"
Hello,

I am trying to add a new repeat track using the GFF3 track (attached) and it got successfully loaded. However, I can't see the data as it only shows the loading sign without actual data!

Cheers,

![Screenshot from 2019-06-11 09-51-41](https://user-images.githubusercontent.com/39313063/59258094-2eeac480-8c2f-11e9-804d-a22c508104a0.png)

[2019-06-11 14:51] nathandunn commented on #47
1 - what does the GFF3 look like (just a few samples)
2 - how did you add it (upload on the track panel, upload in the file menu, or by manually editing trackList.json)
3 - do you see any errors in the javascript console?

[2019-06-11 16:06] heshamgibriel commented on #47
1- plz see gff
![gff](https://user-images.githubusercontent.com/39313063/59288065-cd484b80-8c6a-11e9-97af-37c5c08ec03c.png)

2-I uploaded it by the upload on the track panel. I uploaded many gffs with this one, but this is the only gff that is not readable!!

3- yeah, I see this error(attached
![error](https://user-images.githubusercontent.com/39313063/59288261-4b0c5700-8c6b-11e9-96fa-ae29340adfea

[2019-06-11 16:14] nathandunn commented on #47
Perfect.  I'll take a look.

[2019-06-11 16:47] cmdcolin commented on #47
The crash is due to the sequence-region line in your GFF not corresponding as expected

See the gff3 spec https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md

[code]

Also your column 9 is not formatted right I think too, it should use equals signs e.g. Target=...

[2019-06-11 17:08] heshamgibriel commented on #47
I removed this line and formated col 9 as attached, but it's still not working!

![test3](https://user-images.githubusercontent.com/39313063/59291948-d7bb1300-8c73-11e9-8c9f-c68f1ee54862.png)

[2019-06-11 17:12] cmdcolin commented on #47
@heshamgibriel Is there a new error?

[2019-06-11 17:28] heshamgibriel commented on #47
yes (attached
![error_new](https://user-images.githubusercontent.com/39313063/59293230-aee84d00-8c76-11e9-9587-39554cfab035.png)
)

[2019-06-11 17:31] nathandunn commented on #47
Is that the error you get when you click on and off repeats?

In this case, I’m not seeing an error in the track or the console.

Could you provide the revised GFF3 for repeats?

Nathan

[2019-06-11 17:37] heshamgibriel commented on #47
so this is the one that I used
![revised_repeats](https://user-images.githubusercontent.com/39313063/59293800-e3a8d400-8c77-11e9-830a-dc3fe115c15e.png)

[2019-06-11 17:39] nathandunn commented on #47
Could you upload a text version of it?

It might be an error in my upload code.

Thanks,

Nathan

[2019-06-11 17:41] heshamgibriel commented on #47
[test3.gff.txt](https://github.com/GMOD/docker-apollo/files/3277790/test3.gff.txt)

[2019-06-11 23:42] nathandunn commented on #47
- [ ] install track with JBrowse
- [ ] attempt a manual configuration for the repeat masker
- [ ] emulate within the popup code for HTML Features, Canvas Features, and GFF3 and NCList types

[2019-06-12 00:04] cmdcolin commented on #47
@nathandunn is it a jbrowse issue?

[2019-06-12 02:09] nathandunn commented on #47
I don’t know.

My hope is no and that it is an Apollo upload configuration issue.

I need to test that.

[2019-06-12 02:45] cmdcolin commented on #47
I can see from this that --type mRNA is added and the type in his gff is 'similarity' (e.g. they are not gene annotations)

[code]

[2019-06-12 03:59] nathandunn commented on #47
Exactly.  I added it as a GFF3 with no topLevelFeature and it showed up.   However, it looked horrible.

I'm going to see what types of inputs make the most sense.   Maybe just running the same command with `RepeatMasker` will be sufficient, and then I can update the UI to reflect that and limit these types of features to NCList only.    Conversely, it could simply automatically scan the file to c

[2019-06-12 14:03] cmdcolin commented on #47
I think you should consider just removing the --type mRNA if you are using jbrowse 1.16.4 or greater. JBrowse 1.16.4 introduced inferHTMLSubfeatures by @abretaud and this allows multiple transcripts to be created from a single gene parent feature

See release notes
https://github.com/GMOD/jbrowse/blob/master/release-notes.md#release-1164-----2019-04-10-165802-utc

1.16.5 will be released soon also

[2019-06-12 16:48] nathandunn commented on #47
@cmdcolin  / @abretraud this is awesome

For this, I think you are correct, just removing the --type works (and we are using whatever is on dev until 1.16.5 is  released).

I'll add an option for non-transcript data that will accompany the upload.   Will try to get that out this week and update the docker image here.

[2019-06-12 16:50] nathandunn commented on #47
will be fixed by https://github.com/GMOD/Apollo/issues/2181

[2019-06-12 16:54] nathandunn commented on #47
Noted, I was able to get it working by dropping the `--type` command as @cmdcolin  suggested.  Now I just need to automate it:

![image](https://user-images.githubusercontent.com/751274/59370772-185c7000-8cf8-11e9-959f-053edb110cb0.png)

      ./bin/flatfile-to-json.pl --gff ./test_convert.gff3 --trackLabel RepeatTest --out /opt/apollo/human_test

[2019-06-13 05:11] #47 closed, assigned to nobody

[2019-06-13 05:12] nathandunn commented on #47
@heshamgibriel  This should work now.    As soon as the docker finishes building I would do a docker pull and retry it:

https://quay.io/repository/gmod/docker-apollo?tab=builds

[2019-06-14 04:31] nathandunn commented on #42
I think it was inadvertently running to many dud processes in the background and subsequent docker files have fixed this.

[2019-06-14 04:31] #42 closed, assigned to nobody

[2019-06-18 17:43] #36 closed, assigned to nobody

[2019-06-18 17:44] #28 closed, assigned to nobody

[2019-06-18 17:44] #21 closed, assigned to nobody

[2019-06-18 17:46] nathandunn commented on #20
Sorry this got delayed.  Another user had brought up this inefficiency as well and we ended up fixing it in develop https://github.com/GMOD/Apollo/issues/2105

[2019-06-18 17:46] #20 closed, assigned to nobody

[2019-06-18 17:47] nathandunn commented on #12
Let me know if this need to be re-opened.

[2019-06-18 17:47] #12 closed, assigned to nobody

[2019-06-18 17:47] nathandunn commented on #12
(or just re-open it)

[2019-06-18 17:47] #8 closed, assigned to nobody

[2019-06-18 17:50] nathandunn commented on #39
Closing for now.  Please re-open on the make apollo repo: https://github.com/GMOD/Apollo

[2019-06-18 17:50] #39 closed, assigned to nobody